body{
    background-image: url(img/mapa.jpg);
    background-repeat: no-repeat;
}
main{
    width: 600px;
    text-align: center;
    margin: 30px auto;
    opacity: 75%;
    padding: 10px;
    background-color: black;
}
#username{
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}
::placeholder {
    color: black;
    opacity: 1; 
  }
#room {
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}
#btn{
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}
#footer{
    top: 495px;
}